#courses {
    padding: 60px 20px;
    align-items: center;
    text-align: center;
  }
  
  .courses-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .course {
    width: 30%;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  